body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img.photo{
  width: 300px;
  height: auto;
}

.photo-container{
  margin: 0 auto;
  padding-top: 10px;
}

.grid-item{
  margin: 2px;
}

.photo-detail img{
  border: 20px solid #f9f9f9;
  border-radius: 5px;
}

.photo-detail-wrapper{
    padding-bottom: 50px;
}
